* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 16rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 1rem;
  gap: 1rem;
}

h1 {
  font-size: 1.6rem;
  letter-spacing: -2px;
}

.text-container {
  position: relative;
  width: 100%;
  height: 7rem;
  margin-bottom: 1.5rem;
  scroll-behavior: smooth;
  text-overflow: ellipsis;
  word-wrap: break-word;
  scrollbar-width: thin;
  scrollbar-color: black #e0e0e0;
}

textarea {
  resize: none;
  width: 92%;
  height: 100%;
  line-height: 1.4;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 0 2px;
}

textarea:focus {
  box-shadow: none;
  border: none;
}

#output {
  font-size: 0.85rem;
  height: 120px;
  color: black;
  overflow-y: scroll;
  transition: all 0.3s ease;
  box-shadow: 0 0 1px black;
}

.summary {
  padding: 0.5rem;
  line-height: 1.4;
  border-radius: 4px;
}

.scroll {
  position: absolute;
  font-size: 0.75rem;
  color: rgb(95, 95, 95);
  bottom: -28px;
  right: 0;
}

.btn-container {
  display: flex;
  justify-content: end;
}

button {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  background-color: black;
  font-size: 0.75rem;
  color: white;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 2px black;
  transition: all 0.15s ease-out;
}

button:hover {
  background-color: rgb(60, 60, 60);
}

button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.shimmer-btn {
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
}

.shimmer-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-24deg);
  animation: shimmer 2s 1;
}

@keyframes shimmer {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
